*{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}
.header{
    height: 120vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images4web/dev.jpeg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #2980b9;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 80%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}


.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

nav .fa{
    display: none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/*---------footer-------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h5{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}

.icons a{
    color: #2980b9;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/*----- projects & certificates -----*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images4web/infotech2.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: -50px;
}

   
.projects, .certificates{
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects-header, .certificates-header {
    text-align: center;
}

.machine-learning {
    margin-top: 16px;
}

.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-evenly;

   /* Skills*/
}

h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.sub-header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images4web/infotech2.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.sub-header2 h1 {
    margin-top: -20px;
}

.card-img-top {
    margin-top: 4px;
}

/*Services*/


.sub-header3{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images4web/infotech2.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.sub-header3 h1 {
    margin-top: -20px;
}

.dream{
    flex-basis: 100%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.sub-header4{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images4web/infotech2.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}



form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 16px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="number"], textarea, select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.social-link {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.text-box, .row, .contact-form, .projects, .certificates {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
